<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LibraryManagerSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>

        <NavLink href="Books" class="nav-link">
            <span class="oi oi-plus" aria-hidden="true"></span> Books
        </NavLink>

        <NavLink href="BookSearch" class="nav-link">
            <span class="oi oi-plus" aria-hidden="true"></span> BookSearch
        </NavLink>

        <NavLink href="Customers" class="nav-link">
            <span class="oi oi-plus" aria-hidden="true"></span> Customers
        </NavLink>

        <NavLink href="Rents" class="nav-link">
            <span class="oi oi-plus" aria-hidden="true"></span> Rents
        </NavLink>

    </nav>
</div>

